:root{
  --primary-color:#1B4D3E;
  --secondary-color:	#50C878;
  --font-color-2:#eeeeee;
  --font-color: #eeeeee;
  --hover-color:#50C878 ;
  --mono-chromatisch:#2F2F2F;
  --test-nav:#ADCCC3;
  --background-color: #222222;
  --contrast-color: #eeeeee;
}

.light-theme {
  --primary-color:#1B4D3E;
  --secondary-color:	#50C878;
  --font-color-2:#eeeeee;
  --font-color: #222222;;
  --hover-color:#50C878 ;
  --mono-chromatisch:#2F2F2F;
  --test-nav:#ADCCC3;
  --background-color: 		#FFFFFF;
  --contrast-color: #eeeeee;
}