:root{
  --primary-color:#1B4D3E;
  --secondary-color:	#50C878;
  --font-color-2:#F1E3D3;
  --font-color: #3a3a3a;
  --hover-color:#50C878 ;
  --mono-chromatisch:#f0f0f0a1;
  --test-nav:#ADCCC3;
  --off-white: 		#FFFFF0;
  --contrast-color: #eeeeee;
}